html, body {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: arial, sans-serif;
    background: #bebebe;
}

html {
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}

p {
    margin: 16px 0;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background: #6a6264;
    border-bottom: 1px black solid;
}

header img {
    display: inline-block;
    margin-top: 2px;
    cursor: pointer;
}

#javaUno {
    display: none;
    padding: 30px 10px 20px 10px;
}

.view > p:first-child, .view > h3:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.view > p:first-child:before,
.view > h3:first-child:before,
#view-running > div#players:before,
#view-switch-device:before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
}

.errMsg {
    color: #800;
}

#processingBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#processingAnimation, #processingEndAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

#processingAnimation {
    background: #016b70;
    border-left: 0 #00989f solid;
    border-right: 0 #00989f solid;
    animation: animateProcessing 2s linear infinite alternate;
}

#processingEndAnimation {
    background: green;
    border-left: 0 #00b100 solid;
    opacity: 0;
    animation: animateProcessingEnd 0.5s linear 1;
}

@keyframes animateProcessing {
    0%   {
        border-left-width: 0;
        border-right-width: 0;
    }
    50%  {
        border-left-width: 100vw;
        border-right-width: 0;
    }
    51%  {
        border-left-width: 100vw;
        border-right-width: 100vw;
    }
    52%  {
        border-left-width: 0;
        border-right-width: 100vw;
    }
    100% {
        border-left-width: 0;
        border-right-width: 0;
    }
}

@keyframes animateProcessingEnd {
    0%   {
        border-left-width: 0;
        opacity: 0;
    }
    1%   {
        border-left-width: 0;
        opacity: 1;
    }
    100% {
        border-left-width: 100vw;
        opacity: 1;
    }
}

#view-backend-down img {
    border: 1px black solid;
    max-width: 100%;
}

#view-backend-down div {
    margin: 5px 0;
    font-size: 2rem;
}

input {
    font-size: 1.5rem;
    padding: 7px;
    border: 1px silver solid;
    border-radius: 11px;
}
body.hover input:hover, input:focus {
    border: 1px black solid;
    outline: none;
    box-shadow: none;
}

button {
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 7px;
    background: #137206;
    border: 1px #137206 solid;
    color: white;
    border-radius: 11px;
    cursor: pointer;
}
body.hover button:hover, button:focus {
    background: #148d06;
    border: 1px #148d06 solid;
}
button:active {
    background: #125306;
    border: 1px #125306 solid;
}
button:disabled, body.hover button:disabled {
    background: #777;
    border: 1px #777 solid;
    cursor: not-allowed;
}

input.small, button.small {
    margin-top: 0;
    font-size: 1rem;
    padding: 3px;
}

button.small {
    background: #add9ff;
    border: 1px #add9ff solid;
    color: black;
}
body.hover button.small:hover, button.small:focus {
    background: #d0e9ff;
    border: 1px #d0e9ff solid;
    color: black;
}
button.small:active {
    background: #6cbaff;
    border: 1px #6cbaff solid;
    color: black;
}

button.small:disabled, body.hover button.small:disabled {
    background: #5a5a5a;
    border: 1px #5a5a5a solid;
    cursor: not-allowed;
}

header a:link, header a:visited {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    border-radius: 5px;
    padding: 4px 4px;
    background: #6cbaff;
    color: black;
    text-decoration: none;
    line-height: 0;
}
header a:focus, body.hover header a:hover {
    color: black;
    background: #d0e9ff;
}
header a:active {
    color: black;
    background: #6cbaff;
}

header a.chatToggle {
    left: auto;
    right: 5px;
}

header div#newMessages {
    position: absolute;
    top: 18px;
    right: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #006150;
}

#legalHint {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #e0e0e0;
    color: #7b7b7b;
    padding: 1px 0 1px 3px;
    font-size: 0.8rem;
}

#qrScanBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    display:none;
}

#qrScanVideo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    max-width: 400px;
    height: calc(100% - 75px);
    max-height: 800px;
    display: none;
}

#qrScanBtn {
    display: none;
}

#qrScanStopBtn {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.smallButtonDescription {
    font-size: 0.9rem;
}

#dialogBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
}

#dialogElement {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 600px;
    background: #ededed;
    border: 2px silver solid;
    border-radius: 5px;
    transform: translate(-50%,-50%);
}

#dialogElement > div {
    padding: 10px;
    font-size: 1.3rem;
}

#dialogElement > div.error {
    color: #aa0000;
}

#dialogElement > button {
    margin: 10px;
}

.qr-image {
    width: 360px;
}

.ruler {
    width: 840px;
    height: 3px;
    background: black;
    margin-bottom: 10px;
}

@media (max-width: 859px) {
    header img {
        width: 120px;
        margin-top: 5px;
    }

    header a.manual:link, header a.manual:visited, header a.manual:focus, body.hover header a.manual:hover, header a.manual:hover {
        left: 135px;
    }

    header a:link, header a:visited, header a:focus, body.hover header a:hover, header a:hover {
        font-size: 0.8rem;
    }

    .qr-image {
        width: 300px;
    }

    p.largeMarginBottom {
        margin-bottom: 32px;
    }

    .ruler {
        width: 100%;
    }
}

@media (max-width: 450px) {
    #legalHint {
        font-size: 0.6rem;
    }
}
