html, body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background: #bebebe;
}

*{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    background: #6a6264;
    border-bottom: 1px black solid;
}

header img {
    display: inline-block;
    margin-top: 2px;
}

#javaUno {
    display: none;
    padding: 35px 10px 10px 10px;
    width: 100%;
}

.errMsg {
    color: #800;
}

#process {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#process img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    font-size: 1.5rem;
    padding: 7px;
    border: 1px silver solid;
    border-radius: 11px;
}
input:hover, input:focus {
    border: 1px black solid;
}

button {
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 7px;
    background: #137206;
    border: 1px #137206 solid;
    color: white;
    border-radius: 11px;
    cursor: pointer;
}
button:hover, button:focus {
    background: #148d06;
    border: 1px #148d06 solid;
}
button:active {
    background: #125306;
    border: 1px #125306 solid;
}
button:disabled{
    background: #777;
    border: 1px #777 solid;
    cursor: not-allowed;
}

input.small, button.small {
    margin-top: 0;
    font-size: 1rem;
    padding: 3px;
}

button.small {
    background: #add9ff;
    border: 1px #add9ff solid;
    color: black;
}
button.small:hover, button.small:focus {
    background: #d0e9ff;
    border: 1px #d0e9ff solid;
    color: black;
}
button.small:active {
    background: #6cbaff;
    border: 1px #6cbaff solid;
    color: black;
}

header a:link, header a:visited {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    border-radius: 5px;
    padding: 4px 4px;
    background: #6cbaff;
    color: black;
    text-decoration: none;
}
header a:focus, header a:hover {
    color: black;
    background: #d0e9ff;
}
header a:active {
    color: black;
    background: #6cbaff;
}

@media (max-width: 859px) {
    header img {
        width: 120px;
        margin-top: 5px;
    }
}
