html, body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

*{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    background: #6a6264;
    border-bottom: 1px black solid;
}

header img {
    display: inline-block;
}

#javaUno {
    display: none;
    padding: 35px 10px 10px 10px;
    width: 100%;
}

#view-start p, #view-set-players h3 {
    font-size: 1.3rem;
}

#view-set-players {
    max-width: 600px;
}

#view-set-players #current-players, #view-set-players #add-players, #view-set-players #add-players-limit-reached {
    border-bottom: 3px black solid;
    font-size: 1.1rem;
}

#add-players-limit-reached {
    padding-bottom: 12px;
}

#view-set-players #add-players {
    padding-bottom: 10px;
}

#invention-link {
    word-break: break-word;
    color: blue;
}

#invention-link-toCopy {
    position: fixed;
    top: -1000px;
}

#view-set-players h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

#view-set-players .player {
    background: #e0e0e0;
    color: #006;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 10px;
}

#view-set-players .player span {
    color: #acaccb;
}

#view-running #players {
    max-width: 880px;
}

#view-running .player {
    display: inline-block;
    margin: 10px;
    background: #b6e4ec;
    width: 120px;
    padding: 10px;
}

#view-running .player .name {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#view-running .player .cards {
    background-image: url('/res/img/cards/s/back.png');
    width: 100px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    color: white;
    text-shadow: -1px -1px 1px black, 1px 1px 1px black;
}

#view-running #table {
    background: #a07227;
    padding: 20px;
    width: 408px;
}

#view-running #table #topCard, #view-running #table #drawPile, #view-running #table #uno-and-colors {
    display: inline-block;
    margin: 0 10px;
}

#view-running #table #uno-and-colors #say-uno {
    cursor: pointer;
    background-image: url('/res/img/uno.png');
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    color: black;
    text-shadow: -1px -1px 1px white, 1px 1px 1px white;
}

#view-running #table #uno-and-colors #select-color .color-select, #view-running #table #uno-and-colors #selected-color div, #view-running #table #uno-and-colors #selected-color-none div {
    display: inline-block;
    width: 25px;
    height: 20px;
    cursor: pointer;
    margin: 7px 0 0;
}

#view-running #table #uno-and-colors #selected-color div, #view-running #table #uno-and-colors #selected-color-none div {
    width: 100px;
    cursor: inherit;
}

#view-running #table #uno-and-colors #select-color .color-select.red, #view-running #table #uno-and-colors #selected-color .red {background: #cc0000;}
#view-running #table #uno-and-colors #select-color .color-select.green, #view-running #table #uno-and-colors #selected-color .green {background: #1dc300;}
#view-running #table #uno-and-colors #select-color .color-select.blue, #view-running #table #uno-and-colors #selected-color .blue {background: #0075e6;}
#view-running #table #uno-and-colors #select-color .color-select.yellow, #view-running #table #uno-and-colors #selected-color .yellow {background: #f2f130;}
#view-running #table #uno-and-colors #selected-color-none .none {background: transparent;}

.errMsg {
    color: #800;
}

input {
    font-size: 1.5rem;
    padding: 7px;
    border: 1px silver solid;
    border-radius: 11px;
}
input:hover, input:focus {
    border: 1px black solid;
}

button {
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 7px;
    background: #137206;
    border: 1px #137206 solid;
    color: white;
    border-radius: 11px;
    cursor: pointer;
}
button:hover, button:focus {
    background: #148d06;
    border: 1px #148d06 solid;
}
button:active {
    background: #125306;
    border: 1px #125306 solid;
}
button:disabled{
    background: #777;
    border: 1px #777 solid;
    cursor: not-allowed;
}

input.small, button.small {
    margin-top: 0;
    font-size: 1rem;
    padding: 3px;
}

button.small {
    background: #add9ff;
    border: 1px #add9ff solid;
    color: black;
}
button.small:hover, button.small:focus {
    background: #d0e9ff;
    border: 1px #d0e9ff solid;
    color: black;
}
button.small:active {
    background: #6cbaff;
    border: 1px #6cbaff solid;
    color: black;
}