html, body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background: #ddd;
}

*{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    background: #6a6264;
    border-bottom: 1px black solid;
}

header img {
    display: inline-block;
}

#javaUno {
    display: none;
    padding: 35px 10px 10px 10px;
    width: 100%;
}

#view-start p, #view-set-players h3 {
    font-size: 1.3rem;
}

#view-set-players {
    max-width: 600px;
}

#view-set-players #current-players, #view-set-players #add-players, #view-set-players #add-players-limit-reached {
    border-bottom: 3px black solid;
    font-size: 1.1rem;
}

#add-players-limit-reached {
    padding-bottom: 12px;
}

#view-set-players #add-players {
    padding-bottom: 10px;
}

#invention-link {
    word-break: break-word;
    color: blue;
}

#invention-link-toCopy {
    position: fixed;
    top: -1000px;
}

#view-set-players h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

#view-set-players .player {
    background: #e0e0e0;
    color: #006;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 10px;
}

#view-set-players .player span {
    color: #acaccb;
}

#view-running #players {
    max-width: 840px;
    border-bottom: 3px black solid;
    margin-bottom: 10px;
}

#view-running .player {
    display: inline-block;
    margin: 2px 0 10px 2px
}

#view-running .player .name {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#view-running #table {
    border-bottom: 3px black solid;
    margin-bottom: 10px;
    max-width: 840px;
}

#view-running .player .cards {
    background-image: url('/res/img/cards/large/back.png');
    width: 100px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    color: white;
    text-shadow: -1px -1px 1px black, 1px 1px 1px black;
}

#topCard div {
    width: 100px;
    height: 150px;
}

#drawPile {
    background-image: url('/res/img/cards/large/back.png');
    width: 100px;
    height: 150px;
}

#view-running #table #topCard, #view-running #table #drawPile {
    display: inline-block;
    margin: 0 2px;
}

#view-running #table #say-uno {
    display: inline-block;
}

#view-running #table #say-uno div {
    display: table-cell;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

#view-running #color-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0009;
}

#view-running #color-selection > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#view-running #color-selection div div {
    margin: 20px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    border-radius: 20px;
}

#view-running #color-selection .red {background: #cc0000 url('/res/img/color-red.png');}
#view-running #color-selection .green {background: #1dc300 url('/res/img/color-green.png');}
#view-running #color-selection .blue {background: #0075e6 url('/res/img/color-blue.png');}
#view-running #color-selection .yellow {background: #f2f130 url('/res/img/color-yellow.png');}

#view-running #ownCards {
    max-width: 840px;
}

#view-running #ownCards picture {
    display: inline-block;
    margin: 0 2px;
}

.errMsg {
    color: #800;
}

input {
    font-size: 1.5rem;
    padding: 7px;
    border: 1px silver solid;
    border-radius: 11px;
}
input:hover, input:focus {
    border: 1px black solid;
}

button {
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 7px;
    background: #137206;
    border: 1px #137206 solid;
    color: white;
    border-radius: 11px;
    cursor: pointer;
}
button:hover, button:focus {
    background: #148d06;
    border: 1px #148d06 solid;
}
button:active {
    background: #125306;
    border: 1px #125306 solid;
}
button:disabled{
    background: #777;
    border: 1px #777 solid;
    cursor: not-allowed;
}

input.small, button.small {
    margin-top: 0;
    font-size: 1rem;
    padding: 3px;
}

button.small {
    background: #add9ff;
    border: 1px #add9ff solid;
    color: black;
}
button.small:hover, button.small:focus {
    background: #d0e9ff;
    border: 1px #d0e9ff solid;
    color: black;
}
button.small:active {
    background: #6cbaff;
    border: 1px #6cbaff solid;
    color: black;
}