#players-placeholder {
    height: 5px;
}

#players {
    display: flex;
    flex-direction: row;
    width: max-content;
}

#players.reversed {
    flex-direction: row-reverse;
}

#players  .players-row {
    max-width: 840px;
    width: max-content;
    display: flex;
}

#players.reversed .players-row {
    flex-direction: row-reverse;
}

#players .player {
    display: inline-block;
    margin: 0 2px 10px 2px;
    border-top: 5px transparent solid;
}

#players .player .name {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#players .player .cards {
    width: 100px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    color: var(--card-count-color);
    text-shadow: -1px -1px 1px black, 1px 1px 1px black;
}

#players .player .cards.red {
    color: var(--card-count-red-color);
}

#players .player .cards.more {
    font-size: 5rem;
}

#table {
    border-bottom: 3px var(--ruler-color) solid;
    margin-bottom: 10px;
    max-width: 840px;
    padding-bottom: 10px;
}

#topCard div {
    height: 5px;
}

#topCard div.red {background: var(--wish-red-color);}
#topCard div.green {background: var(--wish-green-color);}
#topCard div.blue {background: var(--wish-blue-color);}
#topCard div.yellow {background: var(--wish-yellow-color);}

#drawPile {
    width: 100px;
    height: 150px;
    cursor: pointer;
}

#drawPile div {
    display: table-cell;
    width: 100px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    font-size: 7rem;
    text-shadow: -1px -1px 1px
    var(--shadow-color), 1px 1px 1px var(--shadow-color);
}

#drawPile div.penalties {
    color: var(--card-count-red-color);
}

#drawPile div.duties {
    color: var(--card-count-blue-color);
}

#topCard, #drawPile {
    display: inline-block;
    margin: 0 2px;
}

#say-uno {
    display: inline-block;
}

#say-uno button {
    margin-top: 0;
}

#say-uno > div {
    display: table-cell;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

#color-selection {
    display: inline-block;
    height: 150px;
}

#color-selection > div{
    display: table;
}

#color-selection > div > div {
    display: inline-block;
}

#color-selection > div > div > div {
    width: 170px;
    height: 60px;
    margin: 11px 5px 11px 6px;
    border-radius: 20px;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

#color-selection .red {background: var(--wish-red-color) url('/res/img/color-red.png');}
#color-selection .green {background: var(--wish-green-color) url('/res/img/color-green.png');}
#color-selection .blue {background: var(--wish-blue-color) url('/res/img/color-blue.png');}
#color-selection .yellow {background: var(--wish-yellow-color) url('/res/img/color-yellow.png');}

#players .player .cards, #drawPile {
    background-image: url('/res/img/cards/large/back.png');
}

html[data-theme="dark"] #players .player .cards , html[data-theme="dark"] #drawPile, html[data-theme="dark"] #color-selection {
    filter: brightness(0.7);
}

html[data-theme="dark"] #players .player .cards button.small.kick {
    filter: brightness(1.4);
}

#finished div {
    font-size: 2rem;
}

#finished button {
    width: 50px;
}

#ownCards {
    max-width: 840px;
    margin-bottom: 55px;
}

#ownCards div.card {
    display: inline-block;
    position: relative;
}

#ownCards picture {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
}

#ownCards button {
    position: absolute;
    top: 50%;
    left: 107px;
    transform: translateY(-50%);
    white-space: nowrap;
}

#ownCards button.putDrawn {
    top: 25%;
}

#ownCards button.keepDrawn {
    top: 75%;
}

#drawPile.disabled, #ownCards picture.disabled {
    cursor: not-allowed;
}

body.hover #drawPile.enabled:hover, body.hover #ownCards picture.enabled:hover, body.hover #color-selection div>div>div:hover {
    transform: scale(1.03);
}

#drawPile.enabled:active, #ownCards picture.enabled:active, #color-selection div>div>div:active {
    transform: scale(0.97);
}

.current div {
    display: block;
    height: 5px;
}

.current div.turnBar {
    width: 100%;
    background: var(--turn-bar-color);
    will-change: width;
}

#ownCards .current {
    margin-bottom: 7px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--light-box-bgcolor);
}

.lightbox > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-box-text-color);
    text-align: center;
}

#bottomButtons {
    display: inline-block;
    height: 150px;
    margin-left: 30px;
}

#bottomButtons > div {
    display: table;
    padding: 10px;
    width: max-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.gameBottomButton {
    display: block;
    margin-bottom: 30px;
}

.gameBottomButton:last-child {
    margin-bottom: 0;
}

button.stopParty.red {
    background:var(--button-stop-party-abort-bgcolor);
    border: 1px var(--button-stop-party-abort-bgcolor) solid;
    color: white;
}

body.hover button.stopParty.red:hover, button.stopParty.red:focus {
    background: var(--button-stop-party-abort-hover-bgcolor);
    border: 1px var(--button-stop-party-abort-hover-bgcolor) solid;
    color: white;
}

button.stopParty.red:active {
    background: var(--button-stop-party-abort-active-bgcolor);
    border: 1px var(--button-stop-party-abort-active-bgcolor) solid;
    color: white;
}

.stopPartyRequested {
    background: var(--stop-party-requested-bg-color);
    color: var(--button-small-color);
}

#current-players .player.botifyPending {
    background: var(--botify-pending-bgcolor);
}

#players .player.botifyPending {
    background: var(--botify-pending-bgcolor);
}

.bot {
    font-style: italic;
}

#current-players .player.botifyPending span {
    color: var(--botify-pending-text-color);
}

.player.stopPartyRequested .current div {
    background: var(--turn-bar-stop-party-requested-color);
}

#players .player .cards {
    position: relative;
}

button.small.kick {
    position: absolute;
    top: -7px;
    right: -3px;
}

#chat-view .backTopBottom {
    margin-top: 10px;
}

.messages {
    width: 840px;
    color: var(--chat-text-color);
}

.message {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.message .message-content {
    position: relative;
    background: var(--messages-in-bgcolor);
    padding: 5px;
    max-width: 65%;
    border-radius: 10px;
}

.message.out .message-content {
    background: var(--messages-out-bgcolor);
}

.message.in {
    align-items: flex-start;
}

.message.out {
    align-items: flex-end;
}

.message h3 {
    margin: 0;
    font-size: inherit;
    font-weight: bolder;
}

.message.out h3 span.name {
    font-style: italic;
}

.message h3 .clock {
    position: absolute;
    right: 6px;
    font-size: 0.8em;
    opacity: 0.5;
}

#noMessages {
    margin-top: 10px;
}

#chat-view #chatPlaceholder {
    height: 51px;
    min-height: 51px;
    max-height: 147px;
}

#chat-view #chatControls {
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--chat-controlls-bgcolor);
    width: 100%;
    padding: 10px;
}

#chat-view #chatControls button {
    margin-top: 0;
}

#chat-view .chatContent {
    width: 796px;
    min-height: 42px;
    max-height: 139px;
    vertical-align: top;
    resize: none;
    overflow: hidden;
    border-radius: 11px 0 0 11px;
    border-right: none;
    margin: 0;
}

#chat-view button.chatSendBtn {
    width: 40px;
    min-height: 42px;
    max-height: 139px;
    border-radius: 0 11px 11px 0;
    border: 1px transparent solid;
    border-left: none;
}

#chat-view .chatContent:hover+button.chatSendBtn, #chat-view .chatContent:focus+button.chatSendBtn {
    border: 1px var(--input-hover-bordercolor) solid;
    border-left: none;
}

div#toasts div {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 875px), (max-height: 907px) {
    #players, #table, #ownCards {
        max-width: 100%;
    }

    #players .player .name {
        font-size: 0.5rem;
        width: 50px;
        text-align: left;
    }

    #players .player .cards {
        width: 40px;
        height: 60px;
        font-size: 3rem;
    }

    #players .player .current {
        width: 40px;
    }

    #players .player .cards.more {
        font-size: 2rem;
    }

    #say-uno > div {
        height: 60px;
    }

    #say-uno button {
        font-size: 0.9rem;
        padding: 4px;
    }

    #drawPile {
        width: 40px;
        height: 60px;
    }

    #players .player .cards, #drawPile {
        background-image: url('/res/img/cards/small/back.png');
    }

    #drawPile div {
        width: 40px;
        height: 60px;
        font-size: 3rem;
    }

    #color-selection, #bottomButtons {
        height: 60px;
    }

    #color-selection > div > div > div {
        width: 40px;
        height: 18px;
        margin: 8px 2px 11px 5px;
    }

    #ownCards button {
        left: 45px;
        font-size: 0.8rem;
    }

    button.small.kick {
        top: -8px;
        right: -7px;
        font-size: 0.6rem;
    }

    #bottomButtons {
        margin-left: 5px;
    }

    #bottomButtons > div {
        width: 170px;
    }

    #bottomButtons > div button {
        margin-bottom: 10px;
    }

    #bottomButtons > div button:nth-child(2) {
        position: relative;
        left: 100%;
        transform: translateX(-100%);
    }

    #bottomButtons > div button:last-child {
        margin: 0;
    }

    button.small.gameBottomButton {
        font-size: 0.7rem;
    }
}

@media (max-width: 875px) {

    #messages {
        width: 100%;
    }

    #chat-view #chatPlaceholder {
        height: 41px;
        min-height: 41px;
        max-height: 113px;
    }

    #chat-view .chatContent {
        width: calc(100% - 35px);
        height: 31px;
        min-height: 31px;
        max-height: 104px;
        font-size: 0.9rem;
    }

    #chat-view button.chatSendBtn {
        width: 30px;
        height: 31px;
        min-height: 31px;
        max-height: 104px;
        font-size: 0.9rem;
    }

    div#toasts div {
        max-width: 350px;
    }
}

@media (max-width: 465px) {
    #players {
        flex-direction: column;
    }

    #players.reversed {
        flex-direction: column-reverse;
    }
}
