#players-placeholder {
    height: 5px;
}

#players {
    display: flex;
    flex-direction: row;
    width: max-content;
}

#players.reversed {
    flex-direction: row-reverse;
}

#players  .players-row {
    max-width: 840px;
    width: max-content;
    display: flex;
}

#players.reversed .players-row {
    flex-direction: row-reverse;
}

#players .player {
    display: inline-block;
    margin: 0 2px 10px 2px;
    border-top: 5px transparent solid;
}

#players .player .name {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#players .player .cards {
    width: 100px;
    height: 150px;
}

#players .player .cards .count {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    font-weight: bold;
    font-size: 6rem;
    color: var(--card-count-color);
    text-shadow: -1px -1px 1px black, 1px 1px 1px black;
    font-style: normal;
}

#players .player .cards.red .count {
    color: var(--card-count-red-color);
}

#players .player .cards.more .count {
    font-size: 5rem;
}

#drawPile .duties.more {
    font-size: 5.5rem;
}

#table {
    border-bottom: 3px var(--ruler-color) solid;
    margin-bottom: 10px;
    max-width: 840px;
    padding-bottom: 10px;
}

#ownCards svg, #topCard svg, #finished svg { fill: #444; }

#topCard svg.red    {fill: #f48080;}
#topCard svg.green  {fill: #80d780;}
#topCard svg.blue   {fill: #80c7f5;}
#topCard svg.yellow {fill: #e8e677;}

#ownCards svg, #topCard svg, #finished svg, #drawPile, #players .cards {
    border-radius: 5px;
}

#drawPile {
    width: 100px;
    height: 150px;
    cursor: pointer;
}

#drawPile div {
    display: table-cell;
    width: 100px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    font-size: 7rem;
    text-shadow: -1px -1px 1px black, 1px 1px 1px black;
}

#drawPile div.penalties {
    color: var(--card-count-red-color);
}

#drawPile div.duties {
    color: var(--card-count-blue-color);
}

#topCard, #drawPile {
    display: inline-block;
    margin: 0 2px;
}

#say-uno {
    display: inline-block;
}

#say-uno button {
    margin-top: 0;
}

#say-uno > div {
    display: table-cell;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

#color-selection {
    display: inline-block;
    height: 150px;
}

#color-selection > div{
    display: table;
}

#color-selection > div > div {
    display: inline-block;
}

#color-selection > div > div > div {
    width: 170px;
    height: 60px;
    margin: 11px 5px 11px 6px;
    border-radius: 20px;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

#color-selection .red {background: var(--wish-red-color);}
#color-selection .green {background: var(--wish-green-color); }
#color-selection .blue {background: var(--wish-blue-color); }
#color-selection .yellow {background: var(--wish-yellow-color); }

#players .player .cards, #drawPile {
    background-image: url('/res/svg/back.svg');
}

#players .player .cards, #drawPile, #color-selection {
    filter: brightness(var(--secondary-brightness-filter));
}

#players .player .cards button.small.kick {
    filter: brightness(var(--brightness-revert-filter));
}

#finished div {
    font-size: 2rem;
}

#finished button {
    width: 50px;
}

#ownCards {
    max-width: 840px;
    margin-bottom: 44px;
}

#ownCards div.card {
    display: inline-block;
    position: relative;
}

#ownCards svg {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
}

#ownCards button {
    position: absolute;
    top: 50%;
    left: 107px;
    transform: translateY(-50%);
    white-space: nowrap;
}

#ownCards button.putDrawn {
    top: 25%;
}

#ownCards button.keepDrawn {
    top: 75%;
}

#drawPile.disabled, #ownCards svg.disabled {
    cursor: not-allowed;
}

#drawPile.disabled {
    filter: brightness(var(--secondary-disabled-brightness-filter));
}

#ownCards svg.disabled {
    filter: brightness(var(--primary-disabled-brightness-filter));
}

body.hover #drawPile.enabled:hover, body.hover #ownCards svg.enabled:hover {
    cursor: pointer;
}

body.hover #drawPile.enabled:hover {
    filter: brightness(var(--secondary-hover-brightness-filter));
}

body.hover #ownCards svg.enabled:hover {
    filter: brightness(var(--primary-hover-brightness-filter));
}

body.hover #color-selection div>div>div:hover {
    transform: scale(1.03);
}

.current div {
    display: block;
    height: 5px;
}

.current div.turnBar {
    width: 100%;
    background: var(--turn-bar-color);
    will-change: width;
}

#ownCards .current {
    margin-bottom: 7px;
}

#topCard svg, .card svg, #finished svg {
    width: 100px;
    height: 150px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--light-box-bgcolor);
}

.lightbox > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-box-text-color);
    text-align: center;
}

#bottomButtons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    background: var(--bottom-bgcolor);
}

#bottomButtons button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#bottomButtons button.switch {
    left: 10px;
}

#bottomButtons button.stopParty {
    right: 10px;
}

#bottomButtons button.leave {
    left: 50%;
    transform: translate(-50%, -50%);
}

button.stopParty.red {
    background:var(--button-stop-party-abort-bgcolor);
    border: 1px var(--button-stop-party-abort-bgcolor) solid;
    color: white;
}

body.hover button.stopParty.red:hover, button.stopParty.red:focus {
    background: var(--button-stop-party-abort-hover-bgcolor);
    border: 1px var(--button-stop-party-abort-hover-bgcolor) solid;
    color: white;
}

button.stopParty.red:active {
    background: var(--button-stop-party-abort-active-bgcolor);
    border: 1px var(--button-stop-party-abort-active-bgcolor) solid;
    color: white;
}

.stopPartyRequested {
    background: var(--stop-party-requested-bg-color);
    color: white;
}

#current-players .player.botifyPending {
    background: var(--botify-pending-bgcolor);
}

#players .player.botifyPending {
    background: var(--botify-pending-bgcolor);
}

.bot {
    font-style: italic;
}

#current-players .player.botifyPending span {
    color: var(--botify-pending-text-color);
}

.player.stopPartyRequested .current div {
    background: var(--turn-bar-stop-party-requested-color);
}

#players .player .cards {
    position: relative;
}

button.small.kick {
    position: absolute;
    top: -5px;
    right: -3px;
}

div#toasts div {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 875px) {
    :root {
        --card-size-divisor: 8.9;
    }

    #players .player .cards, #drawPile {
        background-size: 100% 100%;
    }

    #players .player .cards, #drawPile, #drawPile div {
        width: calc(100vw / var(--card-size-divisor));
        height: calc(100vw / var(--card-size-divisor) * 1.5);
        min-width: 40px;
        min-height: 60px;
    }

    #say-uno > div, #color-selection {
        height: calc(100vw / var(--card-size-divisor) * 1.5);
        min-height: 60px;
    }

    #color-selection > div > div > div {
        width: calc(100vw / 5.5);
        height: calc(100vw / 5 / 3);
    }

    #topCard svg, .card svg {
        width: calc(100vw / var(--card-size-divisor));
        height: calc(100vw / var(--card-size-divisor) * 1.5);
        min-width: 40px;
        min-height: 60px;
    }

    #players .player .cards.more .count {
        font-size: 5rem;
    }

    #drawPile .duties.more {
        font-size: 4.8rem;
    }

    #players .player .current, #players .player .name {
        width: calc(100vw / var(--card-size-divisor));
    }

    #ownCards button {
        left: calc(100vw / var(--card-size-divisor) + 10px)
    }
}

@media (max-width: 775px){
    #players .player .cards.more .count {
        font-size: 3.8rem;
    }

    #drawPile .duties.more {
        font-size: 3.8rem;
    }
}

@media (max-width: 600px) {
    #players {
        flex-direction: column;
    }

    #players.reversed {
        flex-direction: column-reverse;
    }

    #players .player .cards .count {
        font-size: 3.5rem;
    }

    #players .player .cards.more .count {
        font-size: 3.1rem;
    }

    #players .player .name {
        font-size: 0.7rem;
    }

    #players .player .cards button {
        font-size: 0.6rem;
    }

    #drawPile div {
        font-size: 4rem;
    }

    div#toasts div {
        max-width: 350px;
    }

    #drawPile .duties.more {
        font-size: 3.2rem;
    }
}

@media (max-width: 475px) {
    #players .player .cards.more .count {
        font-size: 2.6rem;
    }

    #drawPile .duties.more {
        font-size: 2.6rem;
    }
}

@media (max-width: 410px) {
    #players .player .name {
        font-size: 0.6rem;
    }

    #say-uno button {
        font-size: 1rem;
    }

    #players .player .cards.more .count {
        font-size: 2.2rem;
    }

    #drawPile .duties.more {
        font-size: 2.2rem;
    }

    #bottomButtons {
        height: 30px;
    }

    button.small.bottomButton {
        font-size: 0.7rem;
    }

    #ownCards button {
        font-size: 0.7rem;
    }
}

@media (max-width: 360px) {
    #players .player .cards, #drawPile, #drawPile div {
        width: 40px;
        height: 60px;
    }

    #say-uno > div, #color-selection {
        height: 60px;
    }

    #topCard svg, .card svg {
        width: 40px;
        height: 60px;
    }

    #players .player .current, #players .player .name {
        width: 40px;
    }
}