<!Doctype html>
<html lang="de" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>JavaUno Online</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:title" content="JavaUno Online">
    <meta property="og:description" content="Spiele das beliebte Kartenspiel mit Freunden oder auch alleine am PC oder Handy.">
    <meta property="og:image" content="/res/img/og.png">
    <meta property="og:image:secure_url" content="/res/img/og.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/res/css/general.css">
    <link rel="stylesheet" type="text/css" href="/res/css/view-start.css">
    <link rel="stylesheet" type="text/css" href="/res/css/view-set-players.css">
    <link rel="stylesheet" type="text/css" href="/res/css/view-game.css">
    <script src="/res/js/config.js"></script>
    <script src="./features.js"></script>
    <script src="/res/js/vue-core.js"></script>
    <script src="/res/js/vue-cookies.js"></script>
    <script src="/res/js/vue-resource.js"></script>
    <script src="/res/js/toaster.js"></script>
    <script src="/res/js/toast.js"></script>
    <script src="/res/js/qr.js"></script>
    <script src="/res/js/countdown.js"></script>
    <script src="/res/js/sockjs.min.js"></script>
    <script src="/res/js/stomp.min.js"></script>
</head>
<body>
    <header>
        <img src="/res/img/logo.png" alt="">
        <a href="/manual.pdf" target="_blank">Bedienungs- und Spielanleitung</a>
    </header>
    <noscript>JavaUno als Browsergame basiert auf JavaScript. Bitte aktiviere JavaScript in deinen Browsereinstellungen.</noscript>

    <div id="javaUno">

        <!-- Start/Join view - From here a game can be created or joined -->
        <div id="view-start" v-if="currentView === 'start' || currentView === 'join' || currentView === 'noToken'">
            <p v-if="!invitation">
                Spiele das beliebte Kartenspiel UNO online am PC oder Smartphone.<br>
                Du kannst mit Freunden spielen oder aber auch alleine gegen computergesteuerte Gegner.
            </p>
            <p v-if="invitation">
                Mach' mit beim beliebten Kartenspiel UNO.<br>
                Du wurdest eingeladen, mitzuspielen. Viel Spaß!
            </p>
            <input v-if="currentView === 'join'" type="text" v-model="name" placeholder="Name (optional)">
            <button v-if="currentView === 'start'" @click="createGame()" v-bind:disabled="btnCreateGameDisabled">Spielspaß beginnen</button>
            <div v-if="currentView === 'noToken'">
                <button disabled="disabled">Spielspaß beginnen</button><br><br>
                Um zu spielen musst du einen der beiden folgenden Links erhalten:
                <ul>
                    <li>Erstellungslink: Enthält einen Token zur Berechtigung ein Uno-Spiel zu erstellen</li>
                    <li>Einladungslink: Enthält Daten zu einem bestehenden Spiel, um diesem beizutreten</li>
                </ul>
            </div>
            <button v-if="currentView === 'join'" @click="joinGame()"
                    v-bind:disabled="gameState.players.length >= 8 || gameState.game.gameLifecycle === 'RUNNING' || btnJoinGameDisabled">
                <span v-if="invitation">Jetzt mitspielen</span>
                <span v-if="!invitation">Jetzt loslegen</span>
            </button>
            <div  class="errMsg" v-if="currentView === 'join' && gameState.players.length >= 8">
                Die maximale Spieleranzahl (8) wurde erreicht.
            </div>
            <div  class="errMsg" v-if="currentView === 'join' && gameState.game.gameLifecycle === 'RUNNING'">
                Das Spiel wurde bereits gestartet.
            </div>
            <div  class="errMsg"
                  v-if="currentView === 'join' && (gameState.players.length >= 8 || gameState.game.gameLifecycle === 'RUNNING')">
                Es können leider keine weiteren Spieler teilnehmen.<br>
                <button class="small" @click="reset()">Eigenes Spiel starten</button>
            </div>
        </div>

        <!-- Set players view - From here Players can be added and removed and game round can be started -->
        <div id="view-set-players" v-if="currentView === 'set_players'">
            <h3>Aktuelle Spieler ({{gameState.players.length}})</h3>
            <div id="current-players">
                <div class="player" v-for="(player, index) in gameState.players">
                    {{ getPlayerName(player.name, index) }}
                    <span v-if="index === gameState.myIndex">(Du)</span>
                    <button v-if="index === gameState.myIndex" class="small" @click="leaveGame()">Spiel verlassen</button>
                    <button v-if="player.bot" class="small" @click="removeBot(player)">Bot entfernen</button>
                </div>
            </div>
            <h3>Spieler hinzufügen</h3>
            <div id="add-players" v-if="gameState.players.length < 8">
                Freunde einladen:<br>
                Schicke deinen Freunden folgenden Link:<br>
                <button class="small" @click="copyLink()">Kopieren</button>
                <textarea id="invitation-link-toCopy">https://{{hostname}}/invitation.html#game:{{gameUuid}}</textarea>
                <span id="invitation-link">https://{{hostname}}/invitation.html#game:{{gameUuid}}</span>
                <br><br>
                Oder, wenn sie eh bei dir sind, lasse einfach den
                <button class="small" @click="showQrCode()">QR-Code scannen</button>
                <div id="invitation-qr" v-show="showQr">
                    <div id="invitation-qr-code">
                        <img v-bind:src="qr" alt="">
                    </div>
                    <button class="small" @click="showQr = false">ausblenden</button>
                </div>
                <br><br>
                Alternativ kannst du einen computergesteuerten Gegner hinzufügen.<br>
                <input class="small" type="text" v-model="botName" placeholder="Name (optional)">
                <button class="small" @click="addBot()">Hinzufügen</button>
            </div>
            <div id="add-players-limit-reached" v-if="gameState.players.length >= 8">
                Die maximale Spieleranzahl (8) wurde erreicht.<br>
                Es können keine weiteren Spieler teilnehmen.
            </div>
            <div id="start-game">
                <button @click="startGame()"
                        v-bind:disabled="gameState.players.length < 2">Spiel starten</button>
                <div class="errMsg" v-if="gameState.players.length < 2">
                    Es werden mindestens 2 Spieler benötigt.
                </div>
            </div>
        </div>

        <!-- running game view - shows the running game -->
        <div id="view-running" v-if="currentView === 'running'">
            <div id="players">
                <div class="player" v-for="(player, index) in gameState.players" v-if="!gameState.game.reversed">
                    <div class="current">
                        <div v-bind:style="'width: ' + (isPlayersTurn(index) ? timeLeftPercent : 0) + '%'"></div>
                    </div>
                    <div class="name">
                        {{ getPlayerName(player.name, index) }}
                    </div>
                    <div v-bind:class="'cards ' + (player.cardCount > 9 ? ' more' : '') + (player.cardCount === 1 && player.unoSaid ? ' red' : '')">
                        {{ player.cardCount }}
                    </div>
                </div>
                <div class="player" v-for="(player, index) in gameState.players.slice().reverse()" v-if="gameState.game.reversed">
                    <div class="current">
                        <div v-bind:style="'width: ' + (isPlayersTurn(gameState.players.length-index-1) ? timeLeftPercent : 0) + '%'"></div>
                    </div>
                    <div class="name">
                        {{ getPlayerName(player.name, gameState.players.length-index-1) }}
                    </div>
                    <div v-bind:class="'cards ' + (player.cardCount > 9 ? ' more' : '') + (player.cardCount === 1 && player.unoSaid ? ' red' : '')">
                        {{ player.cardCount }}
                    </div>
                </div>
            </div>
            <div id="table">
                <div id="topCard">
                    <div v-bind:class="gameState.game.desiredColor !== null ? gameState.game.desiredColor.toLowerCase() : ''"></div>
                    <picture>
                        <source v-bind:srcset="getCardImage(gameState.game.topCard, 'large')" media="(min-width: 860px) and (min-height: 908px)">
                        <source v-bind:srcset="getCardImage(gameState.game.topCard, 'small')" media="(max-width: 859px), (max-height: 907px)">
                        <img v-bind:src="getCardImage(gameState.game.topCard, 'small')" alt="">
                    </picture>
                </div>
                <div id="say-uno">
                    <div>
                        <button @click="sayUno()" v-bind:disabled="!isSayUnoAllowed()">Uno sagen</button>
                    </div>
                </div>
                <div id="drawPile" v-bind:class="isDrawAllowed() ? 'enabled' : 'disabled'" @click="draw()">
                    <div class="penalties" v-if="gameState.game.turnState === 'DRAW_PENALTIES' && isMyTurn()">
                        {{gameState.players[gameState.myIndex].drawPenalties}}
                    </div>
                    <div class="duties" v-if="gameState.game.turnState.startsWith('DRAW_DUTIES') && isMyTurn()">
                        {{gameState.game.drawDuties}}
                    </div>
                </div>
                <div id="color-selection" v-if="gameState.game.turnState === 'SELECT_COLOR' && isMyTurn()">
                    <div>
                        <div>
                            <div class="red" @click="selectColor('red')"></div>
                            <div class="green" @click="selectColor('green')"></div>
                        </div>
                        <div>
                            <div class="blue" @click="selectColor('blue')"></div>
                            <div class="yellow" @click="selectColor('yellow')"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ownCards">
                <div class="current">
                    <div v-bind:style="'width: ' + (gameState.myIndex === gameState.game.currentPlayerIndex ? timeLeftPercent : 0) + '%'"></div>
                </div>
                <div class="card" v-for="(card, index) in gameState.ownCards">
                    <picture v-bind:class="isPutAllowed(card, index) ? 'enabled' : 'disabled'" @click="put(card, index)">
                        <source v-bind:srcset="getCardImage(card, 'large')" media="(min-width: 860px) and (min-height: 908px)">
                        <source v-bind:srcset="getCardImage(card, 'small')" media="(max-width: 859px), (max-height: 907px)">
                        <img v-bind:src="getCardImage(card, 'small')" alt="">
                    </picture>
                    <span v-if="isMyTurn() && gameState.game.turnState === 'PUT_DRAWN' && index === (gameState.ownCards.length-1)">&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                    <button
                            v-if="isMyTurn() && gameState.game.turnState === 'PUT_DRAWN' && index === (gameState.ownCards.length-1)"
                            class="small"
                            @click="keep()">&larr; Behalten</button>
                </div>
            </div>
        </div>

        <!-- lightbox to show winner -->
        <div id="finished" class="lightbox" v-if="winner >= 0">
            <div>
                <div v-if="winner === gameState.myIndex">
                    Herzlichen Glückwunsch, {{getPlayerName(gameState.players[winner].name, winner)}}!<br>
                    Du hast gewonnen!
                </div>
                <div v-if="winner !== gameState.myIndex">
                    {{getPlayerName(gameState.players[winner].name, winner)}} hat gewonnen!
                </div>
                <button class="small" @click="winner = -1">OK</button>
            </div>
        </div>

        <!-- Backend down - error message -->
        <div v-if="currentView === 'backend-down'" id="view-backend-down">
            <div>
                <img src="/res/img/backend-down.png" alt="Backend is down" title="">
            </div>
            <div>
                Das Backend ist leider derzeit nicht erreichbar.<br>
                Bitte versuche es später wieder.
            </div>
        </div>

        <!-- processing -->
        <div id="processingBg" v-if="processing"></div>
        <div id="processingAnimation" v-if="processing"></div>
        <div id="processingEndAnimation" v-if="processingEnd"></div>
    </div>

    <div id="toasts"></div>

    <script src="/res/js/app.js"></script>
    <script src="/res/js/app-qr.js"></script>
    <script src="/res/js/app-processing.js"></script>
    <script src="/res/js/app-requests.js"></script>
    <script src="/res/js/app-game.js"></script>
    <script src="/res/js/app-player.js"></script>
    <script src="/res/js/app-turn.js"></script>
    <script src="/res/js/push.js"></script>

    <div class="legalHint">
        Private fun project by Tomatenmark - Not related to Mattel or their original game.
    </div>
</body>
</html>